<!-- organizer -->
@if(whatAmI == 'false'){
  <div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
        <i class="fal fa-bars"></i>
    </button>
    @if (!isLeftSidebarCollapsed()) {
      
      <div class="logo-text"><img class="logoImg" src="./img/BlockVote.png">BlockVote</div>
    }
  </div>
  <div class="sidenav-nav">
    <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="['/dashboard']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon fal fa-home"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Dashboard</span>
          }
        </a>
      </li>
    <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="['/elections']"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon fal fa-users"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Manage Elections</span>
          }
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="['/results']"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon fal fa-box-open"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Election Results</span>
          }
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="['/account']"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon fal fa-cog"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Manage Account</span>
          }
        </a>
      </li>
      <li class="sidenav-nav-item"  (click)="logout()" style="cursor: pointer">
        <a
          class="sidenav-nav-link"

        >
          <i class="sidenav-link-icon fal fa-sign-out"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Logout</span>
          }
        </a>
      </li>
  </div>
</div>

}

<!-- voter -->

@if(whatAmI == 'true'){
  <div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
        <i class="fal fa-bars"></i>
    </button>
    @if (!isLeftSidebarCollapsed()) {
      <div class="logo-text"><img class="logoImg" src="./img/BlockVote.png">BlockVote</div>
    }
  </div>
  <div class="sidenav-nav">
    <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="['/dashboard']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon fal fa-home"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Dashboard</span>
          }
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="['/vote']"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon fal fa-poll"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Vote</span>
          }
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="['/results']"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon fal fa-box-open"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Result</span>
          }
        </a>
      </li>
      <li class="sidenav-nav-item"  (click)="logout()" style="cursor: pointer">
        <a
          class="sidenav-nav-link"

        >
          <i class="sidenav-link-icon fal fa-sign-out"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">Logout</span>
          }
        </a>
      </li>
  </div>
</div>
}
  