<div class="container">
    <div class="row">
        <div class="col">
            <a routerLink="/dashboard">Dashboard</a> 
        </div>
        <div class="col">
            <a routerLink="/candidates">Candidates</a> 
        </div>
        <div class="col">
            <a routerLink="/vote">Vote</a> 
        </div>
        <div class="col">
            <a routerLink="/results">Results</a>
        </div>
        <div class="col">
            <a routerLink="/profile">Profile</a>
        </div>
        
    </div>
</div>



