<app-left-sidebar
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
/>


<div class="body" [ngClass]="sizeClass()">
  <div>
    <h3 style="padding-top: 1rem;">Dashboard</h3>
    <hr style="margin-left: -5rem;">
  </div>
  <h4>Welcome {{whatAmI}}!</h4>
  <p>Wallet address: {{walletAddress}}</p>
  <br>

  <div class="flex-container">

    <div class="box-container">
      <h3 class="box-title">Ongoing Elections</h3>
    </div>

    <div class="box-container" style="margin-right: 3rem;">
      <h3 class="box-title">Upcoming Elections</h3>
    </div>

  </div>
  

  
</div>