.body {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    background: black;
    padding-left: 3rem;
    height: 100vh;
  }
  
  .body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
  }
  
  .body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
  }

  .box-container-full{
    border: 1px solid #fff;
    border-radius: 13px;
    padding: 10px;
    width: 98%;
    padding: 0;
    height: 90%;
  }

  .box-title{
    display: flex;
    background-color: #fff;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    
  }

  .box-no-scroll{
    height: 93%;
  }

  .box{
    overflow-y: scroll;
    height: 98%;
    scrollbar-width: thin;
    scrollbar-color: #CECECE #272635;
  }

  .btn-ctrl{
    width: 33.3%;
    margin: 0;
  }

  .vote-head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.8;
    color: black;
  }

  mat-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }

  mat-list-item{
    border: 1px solid #CECECE;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    height: 300px;
  }
  

  .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-top: 15%;
  }

  .input-container input{
    text-align: center;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #CECECE;
    
    
  }

  

  .input-container button{
    margin-top: 20px;
    width: 200px;
    height: 45px;
    background-color: #272635;
    color: white;
    border-radius: 10px;
    border: 3px solid #CECECE;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;
  }