<app-left-sidebar
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
/>
<div class="body" [ngClass]="sizeClass()">
  <div>
    <h3 style="padding-top: 1rem;">Vote</h3>
    <hr style="margin-left: -5rem;">
</div>
    @if(join){
      <div class="box-container-full">
        <h3 class="box-title">Join Election</h3>
        <div class="box-no-scroll">
          <div class="input-container">
            <h1>Enter Election ID:</h1>
            <input type="text" [(ngModel)]="electionID" (click)="msg = ''; electionID = ''">
            <button (click)="viewElection(electionID)">Join</button>
            <p>{{msg}}</p>
          </div>
          
        </div>
      </div>
    }
    @if(vote){
      <div class="box-container-full">
        <h3 class="box-title">ID:[{{electionID}}] Name:[{{electionName}}]</h3>
        <div class="box-no-scroll">
        <button class="btn-ctrl" (click)="toggle = 'vote'">Vote</button>
        <button class="btn-ctrl" (click)="toggle = 'details'">Details</button>
        <button class="btn-ctrl" (click)="exitElection()">Exit</button>
        @if(toggle == 'vote'){
          <div class="box">
            <h1 style="text-align: center;">Cast your vote</h1>
            
            <h4 class="vote-head">Chairman</h4>

            <div class="scroll-X">
              <mat-list>  
                @if(chairmans.length == 0){
                  <p>No Data</p>
                  
                }
                <mat-list-item class="list-item" *ngFor="let chairman of chairmans; let i = index" >
                  <div class="candidate-container">
                      <h4>{{chairman}}</h4><br>
                      <img src="{{chairimgs[i]}}" (click)="toggleToPlatform(chairman)">
                      <br>
                      <p>Votes: {{chairmanVotes[i]}}</p>
                      <mat-radio-button name="chairman" value="{{chairman}}" [(NgModel)]="votedChairman"></mat-radio-button>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            

            <h4 class="vote-head">Vice Chairman</h4>

            <div class="scroll-X">
              <mat-list>  
                @if(vChairmans.length == 0){
                  <p>No Data</p>
                  
                }
                <mat-list-item class="list-item" *ngFor="let vchairman of vChairmans; let i = index" >
                  <div class="candidate-container">
                      <h4>{{vchairman}}</h4><br>
                      <img src="{{vchairimgs[i]}}" (click)="toggleToPlatform(vchairman)">
                      <br>
                      <p>Votes: {{vChairmanVotes[i]}}</p>
                      <mat-radio-button name="vchairman" value="{{vchairman}}" [(NgModel)]="votedVChairman"></mat-radio-button>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>

            <h4 class="vote-head">Secretary</h4>

            <div class="scroll-X">
              <mat-list>  
                @if(secretarys.length == 0){
                  <p>No Data</p>
                  
                }
                <mat-list-item class="list-item" *ngFor="let secretary of secretarys; let i = index" >
                  <div class="candidate-container">
                      <h4>{{secretary}}</h4><br>
                      <img src="{{secretaryimgs[i]}}" (click)="toggleToPlatform(secretary)">
                      <br>
                      <p>Votes: {{secretaryVotes[i]}}</p>
                      <mat-radio-button name="secretary"value="{{secretary}}" [(NgModel)]="votedSecretary"></mat-radio-button>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>

            <h4 class="vote-head">Auditor</h4>

            <div class="scroll-X">
              <mat-list>  
                @if(auditors.length == 0){
                  <p>No Data</p>
                  
                }
                <mat-list-item class="list-item" *ngFor="let auditor of auditors; let i = index" >
                  <div class="candidate-container">
                      <h4>{{auditor}}</h4><br>
                      <img src="{{auditorimgs[i]}}" (click)="toggleToPlatform(auditor)">
                      <br>
                      <p>Votes: {{auditorVotes[i]}}</p>
                      <mat-radio-button name="auditor" value="{{auditor}}" [(NgModel)]="votedAuditor"></mat-radio-button>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>

            <h4 class="vote-head">P.I.O.</h4>

            <div class="scroll-X">
              <mat-list>  
                @if(pios.length == 0){
                  <p>No Data</p>
                  
                }
                <mat-list-item class="list-item" *ngFor="let pio of pios; let i = index" >
                  <div class="candidate-container">
                      <h4 style="text-align: center;" class="btn-list">{{pio}}</h4><br>
                      <img src="{{pioimgs[i]}}" (click)="toggleToPlatform(pio)">
                      <br>
                      <p>Votes: {{pioVotes[i]}}</p>
                      <mat-radio-button name="pio" value="{{pio}}" [(NgModel)]="votedPIO"></mat-radio-button>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <mat-divider></mat-divider>
            <div class="btn-container">
              <p>{{errormsg}}</p>
              <button class="btn" (click)="submitVote()">Submit Votes</button>
            </div>
            

          </div>
        }
        @if(toggle == 'details'){
          <div>
            <h4>Election Name:</h4>
            <p>{{electionName}}</p>
            <h4>Start Date:</h4>
            <p>{{startDate}}</p>
            <h4>End Date:</h4>
            <p>{{endDate}}</p>
            
          </div>
        }
        @if(toggle == 'platform'){
          <div class="platform"> 
            <img src="{{pCandidateImage}}">
            <h1>Candidate ID: {{pCandidateID}}</h1>
            <h1>Candidate Name: {{pCandidateName}}</h1>
            <div class="dividePlatform">
              <h1>Candidate Platform:</h1>
              <div class="box-p">
                <p>{{pCandidatePlatform}}</p>
              </div>
            </div>
            
            

            
            
          </div>
        }
        
        </div>
      </div>
    }


    
    
</div>
