<app-left-sidebar
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
/>

<div class="body" [ngClass]="sizeClass()">
    <div>
        <h3 style="padding-top: 1rem;">Manage Elections</h3>
        <hr style="margin-left: -5rem;">
    </div>

    @if(manage == 1){
        <div class="flex-container">
            
            <div class="box-container">
                <h3 class="box-title">Create Election</h3>
                <div class="flexbox">
                    <h4>Election Name:</h4>
                    <input type="text" [(ngModel)]="electionName">
                    <br>
                    <h4>Start Date:</h4>
                    <input type="datetime-local" [(ngModel)]="startDate">
                    <br>
                    <h4>End Date:</h4>
                    <input type="datetime-local" [(ngModel)]="endDate">
                    <br>
                    <h4>Domain Filter:</h4>
                    <input type="text" [(ngModel)]="domainFilter">
                    <br>
                    <div style="display: flex; flex-direction: row;">
                        <h4 style="margin-right: 1rem;">Organization Logo:</h4>
                    <uc-config
                        ctx-name="my-uploader"
                        source-list="local, camera, facebook, gdrive"
                        multiple="false"
                        camera-modes="photo, video"
                        pubkey="d79c45e1617abf9520ed"
                        removeCopyright="true"
                        
                    ></uc-config>
                    <uc-file-uploader-regular ctx-name="my-uploader" class="uc-light"></uc-file-uploader-regular>
                    
                    </div>
                    <br>
                    <button (click)="createElection()" class="btn">Create Election</button>
                </div>
                
                
            </div>
            
            
            <div class="box-container" style="margin-right: 3rem;">
            <h3 class="box-title" (click)="ownedElectionNames()">Election List</h3>
            
            <div class="box">
                
                <mat-list *ngIf="elections.length > 0; else noElections">
                    
                    <mat-list-item class="list-item" *ngFor="let election of ownedElections; let i = index" ><h4 style="text-align: center;" class="btn-list" (click)="viewElection(election)">{{election}}</h4><mat-divider></mat-divider></mat-list-item>
                    
                    <!-- figuring out how to filter the list -->
                  </mat-list>
                  <ng-template #noElections>
                    <button (click)="ownedElectionNames()" class="btn-refresh">Click here to refresh list</button>
                </ng-template>
            </div>
            </div>
        </div>
    }

    @if(manage == 2){
            
            <div class="box-container-full">
                <div class="box-title"><h3>[ID: {{electionIdTitle}}] [Election Name: {{_electionName}}]</h3></div>
                    <div class="box-padding">
                        
                        <button class="btn-manage" (click)="toggleWindowManager = 'candidates'">Manage Candidates</button>
                        <button class="btn-manage" (click)="toggleWindowManager = 'update'">Update Election</button>
                        <button class="btn-manage" (click)="toggleWindowManager = 'details'">Election Details</button>
                        <button class="btn-manage" style="width: 100px;background-color: red;color:black" (click)="manage = 1; toggleCandidateUpdateOff()" >CLOSE</button>
                    </div>

                    @if(toggleWindowManager == 'candidates'){
                        <div class="manage-flex">
                            <div class="box-container" style="margin-top: 10px;height: 740px">
                                <h3 class="box-title">Add Candidate</h3>
                                <div class="box-no-scroll">
                                    <div class="portrait-container">
                                        <img class="portrait" src="img/BlockVote.png">
                                    </div>
                                    <uc-config
                                    ctx-name="my-uploader"
                                    source-list="local, camera, facebook, gdrive"
                                    multiple="false"
                                    camera-modes="photo, video"
                                    pubkey="d79c45e1617abf9520ed"
                                    removeCopyright="true"
                                    
                                ></uc-config>
                                <uc-file-uploader-regular ctx-name="my-uploader" class="uc-light" style="margin:289px;"></uc-file-uploader-regular>
                                
                                <div style="margin: 1rem;display:flex;flex-direction: column;justify-content: center;">
                                    <h4>Candidate Name:</h4>
                                    <input type="text" [(ngModel)]="candidateName" style="height: 1.5rem">
                                    <br>
                                    <h4>Position:</h4>
                                    <input type="text" [(ngModel)]="candidatePosition" style="height: 1.5rem">
                                    <br>
                                    <h4>Platform:</h4>
                                    <textarea [(ngModel)]="candidatePlatform" style="height: 10rem"></textarea>
                                    <br>
                                    <button class="btn" (click)="addCandidate()">Add Candidate</button>
                                </div>
                                
                                </div>
                            </div>
                            
                            @if(!updateCandidate){
                                <div class="box-container" style="margin-top: 10px;height: 740px;">
                                    <h3 class="box-title">Candidate List</h3>
                                    <div class="box">
                                        <mat-list *ngIf="candidates.length > 0; else noCandidates">
                                            <mat-list-item (click)="toggleCandidateUpdateOn(candidates[i])" class="list-item" *ngFor="let candidate of candidates; let i = index" ><h4 style="text-align: center;" class="btn-list">{{candidate}}</h4><mat-divider></mat-divider></mat-list-item>
                                          </mat-list>
                                          <ng-template #noCandidates>
                                            <button (click)="getCandidateNames()" class="btn-refresh">Click here to refresh list</button>
                                        </ng-template>
                                    </div>
                                </div>
                            }@else if(updateCandidate){
                                <div class="box-container" style="margin-top: 10px;height: 740px;">
                                    <h3 class="box-title">Update Candidate : {{candidateNameUpdate}} </h3>
                                    <button class="close" (click)="toggleCandidateUpdateOff()" style="background-color: rgb(99, 158, 12);">Save</button>
                                    <button class="close" (click)="toggleCandidateUpdateOff()">Delete</button>
                                    <button class="close" (click)="toggleCandidateUpdateOff()" style="background-color: rgb(39, 39, 39);color:white;">Cancel</button>
                                    <div class="box-no-scroll" style="height:90%;">
                                        <div class="portrait-container">
                                            <img class="portrait" src="img/BlockVote.png">
                                        </div>
                                        <uc-config
                                        ctx-name="my-uploader"
                                        source-list="local, camera, facebook, gdrive"
                                        multiple="false"
                                        camera-modes="photo, video"
                                        pubkey="d79c45e1617abf9520ed"
                                        removeCopyright="true"
                                        
                                    ></uc-config>
                                    <uc-file-uploader-regular ctx-name="my-uploader" class="uc-light" style="margin: 289px;"></uc-file-uploader-regular>
                                    <div style="margin: 1rem;display:flex;flex-direction: column;justify-content: center;">
                                        <h4>Candidate Name:</h4>
                                        <input type="text" [(ngModel)]="candidateNameUpdate" style="height: 1.5rem">
                                        <br>
                                        <h4>Position:</h4>
                                        <input type="text" [(ngModel)]="candidatePosition" style="height: 1.5rem">
                                        <br>
                                        <h4>Platform:</h4>
                                        <textarea [(ngModel)]="candidatePlatform" style="height: 10rem"></textarea>
                                        
                                    </div>
                                    </div>
                                </div>
                            }
                            
                            
                        </div>
                        
                    }
                    
                    @if(toggleWindowManager == 'update'){
                        <div>
                            <h4>Election Name:</h4>
                            <input type="text" [(ngModel)]="new_electionName">
                            <br>
                            <h4>Start Date:</h4>
                            <input type="date" [(ngModel)]="new_startDate">
                            <br>
                            <h4>End Date:</h4>
                            <input type="date" [(ngModel)]="new_endDate">
                            <br>
                            <h4>Domain Filter:</h4>
                            <input type="text" [(ngModel)]="new_domainFilter">
                            <button>Update</button>
                        </div>
                    }

                    @if(toggleWindowManager == 'details'){
                        <div>
                            <h4>Election ID: {{electionIdTitle}}</h4>
                            <h4>Election Name: {{_electionName}}</h4>
                            <h4>Start Date: {{_startDate}}</h4>
                            <h4>End Date: {{_endDate}}</h4>
                            <h4>Allowed Domain: {{_domainFilter}}</h4>
                            <hr style="margin-bottom: 0px;">
                            <div class="flex-only">
                                <h4>Candidate Name</h4>
                                <h4>Position</h4>
                            </div>
                            <hr style="margin-top: 0px;">
                        </div>
                    }

                </div>
                
            
            
            
        
    }

</div>
