<app-left-sidebar
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
/>

<div class="body" [ngClass]="sizeClass()">
    <div>
        <h3 style="padding-top: 1rem;">Manage Account</h3>
        <hr style="margin-left: -5rem;">
    </div>

    <div class="box-container-full">
        <div class="box-title"><h3 >Account Details</h3></div>
        <div class="box-centered">
          <h1>Organization Name:</h1>
          <input type="text">
          <h1>Organization Email:</h1>
          <input type="text">
          <br>
          <button>Update</button>
        </div>
    </div>

    
</div>