<img id="logo" src="./img/logo.svg" alt="logo">
<div *ngIf="reg_1">
  <div *ngIf="!register">
      <button (click)="login()" id="btn-login"><img src="./img/MetaMask-icon-fox.svg" class="icon">Login with MetaMask</button>
  </div>

  <div *ngIf="register" id="register">
    
    <h2>Select your role:</h2>
    <button class="btn" (click)="toggleVoter()">Voter</button>
    <br>
    <button class="btn" (click)="toggleOrganizer()">Organizer</button>
  </div>
</div>
<div *ngIf="voter" id="voter">
  <form>
    
    <input type="text" id="name" name="name" placeholder="Your Name" required>
    <br>
    
    <input type="email" id="email" name="email"  placeholder="Email" required>
    <br>
    <button class="btn" type="submit" (click)="toggleOTP()">Verify Email</button>
    
  </form>
  <div *ngIf="isOtp" id="otp">
    <p>Enter OTP:</p><input type="text" [(ngModel)]="otp" (click)="otp = ''">
    <button  class="btn" type="submit" (click)="registerUser(false)">Register</button>
  </div>
  
  <p>{{success}}</p>
</div>

<div *ngIf="organizer" id="organizer">
  <form>
    
    <input type="text" id="orgName" name="OrgName" placeholder="Organization Name" required>
    <br>
    
    <input type="text" id="name" name="name" placeholder="Your Name" required>
    <br>
    
    <input type="email" id="email" name="email" placeholder="Email" required>
    <br>
    <button class="btn" type="submit" (click)="registerUser(true)">Register</button>
  </form>
  <p>{{success}}</p>
</div>
