#title{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    
}

#logo{
    position:absolute;
    top: 15%;
}

.icon{
    width: 25px;
    margin-right: 5px;
}



#btn-login{
    width: 250px;
    height: 45px;
    background-color: #FF5C16;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);   
}

#btn-login:hover{
    animation: enlarge 0.5s forwards;
}

#btn-login:not(:hover){
    animation: reduce 0.5s forwards;
}

#register{
    border: 5px solid #A6A6A8;
    border-radius: 40px;
    background-color: #a6a6a869;
    text-align: center;
    margin-top: 17%;
    margin-left: 60%;
    margin-right: 15%;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;

}

#voter{
    border: 5px solid #A6A6A8;
    border-radius: 40px;
    background-color: #a6a6a869;
    text-align: center;
    margin-top: 17%;
    margin-left: 60%;
    margin-right: 15%;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}

#organizer{
    border: 5px solid #A6A6A8;
    border-radius: 40px;
    background-color: #a6a6a869;
    text-align: center;
    margin-top: 17%;
    margin-left: 60%;
    margin-right: 15%;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}

form{
    text-align: right;
    margin-right: 42%;
}

.btn{
    width: 250px;
    height: 45px;
    background-color: #272635;
    color: white;
    border-radius: 10px;
    border: 3px solid #CECECE;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    font-family: 'Inter';
    font-size: 15px;
    
    
}


@keyframes enlarge {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1.1);
    }
}



@keyframes reduce {
    0% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

#logo{
    animation: slideInFromLeft ease-in-out 1s forwards;
}